* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.hero {
  height: 100hv;
  width: 100%;
  background-size: cover;
  background-position: left;
}

nav {
  display: inline-flex;
  align-items: center;
  justify-content: 20px;
  padding-top: 40px;
  padding-left: 100px;
  padding-right: 200px;
  padding-bottom: 30px;
  color: (255, 255, 255);
  font-size: 15px;
  font-style: bold;
  word-spacing: 2px;
}

nav a:hover {
  color: rgb(193, 27, 27);
}

.logo {
  font-size: 28px;
  margin-right: 60px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: rgba(2, 1, 1, 0.93);
  text-decoration: none;
  font-weight: normal;
}

.button1 {
  border: 1px solid blue;
  background-color: rgb(229, 254, 255);
  color: rgb(114, 117, 206);
  border-radius: solid blue;
  padding: 12px 20px;
  border-radius: 4px;
  margin-right: 20px;
  cursor: pointer;
}

.button2 {
  border: 1px solid red;
  background: rgb(255, 255, 255);
  padding: 12px 30px;
  color: rgb(239, 27, 68);
  border-radius: 4px;
  cursor: pointer;
}

.button1 :hover {
  background-color: rgb(68, 56, 200);
}

.button1 :hover {
  background-color: rgb(178, 37, 37);
}
